<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h1>CURSO:</h1>
            <div>
                <ul class ="list-group">
                    <li class="list-group-item">{{learning.name}}</li>
                </ul>
            </div>
        </div>
        <div class ="my-3">
            <h4 class="text-center">ESTUDIANTES:</h4>
            <div class="text-center">
                <table class = "table table-striped">
                    <thead>
                        <th>id</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                    </thead>
                    <tbody>
                        @for (item of learning.students; track $index){
                            <tr estudents [item]="item"></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
